<nav>
	<ul>
		<li>
			Ninos Pizza
		</li>
		<li>
			Sucursal Parque Regional
		</li>
		<li>
			Gregorio Evangelista
		</li>
	</ul>
</nav>
<aside>
	<div>
		Inventario	
		<ul>
			<li>
				Ver productos / Editar productos
			</li>
			<li>
				Agregar Productos
			</li>
			<li>
				Eliminar Productos
			</li>
		</ul>
	</div>
	<div>
		Tiendas
		<ul>
			<li>
				Ver tiendas / Editar tiendas
				<ul>
					<li>
						Nombre
					</li>
					<li>
						Hubicacion
					</li>
					<li>
						Empleados
						<ul>
							<li>
								Cargo
							</li>
							<li>
								Nombre
							</li>
							<li>
								Edad
							</li>
							<li>
								sexo
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>
