<div class="masterusr">
			<p class="text-justify">
				para creear un fomulario existen dos formas, la primera en la cual el usuario tendra que llenar un fomulario completo con todos sus datos o la segunda, en la cual solo al dar clic en el boton de loggin social obtendremos todos tus datos necesarios para seguir con la demas creacion. gracias confia en Minisis tenemos todo bajo contronl
			</p>
			<h1 class="page-header">
				tenemos angular?
			</h1>
			<h2>
				{{"Si senior tenemos, angular y los estamos inyectando de Usuarios"}}
			</h2>
			<div class="ui horizontal divider">
				Y
			</div>
			<div class="yellow ui message">
				Ahora tenemos Semantic-Ui
			</div>
			
			<div class="ui grid three column grid">
				<div class="column">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, doloremque. Iure, dolore. Explicabo consequatur, perspiciatis itaque, tempora quibusdam sed quaerat vel quos reiciendis dolorum quas libero obcaecati assumenda sapiente atque.
				</div>
				<div class="column">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ipsa at nam porro odio modi, tenetur voluptate, dolorem fugiat, temporibus quam, id ea culpa. Iste exercitationem vero, dolorem necessitatibus tempora.
				</div>
				<div class="column">
					<div class="ui grid three column grid">
						<div class="column">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium id, deserunt possimus vero eligendi eum fugiat, ipsa officiis nisi ut nostrum aspernatur, similique debitis. Iusto nam aliquam eligendi nesciunt neque.
						</div>
						<div class="column">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ea facilis, voluptate unde ex officiis est quo vitae libero expedita, quaerat deserunt fuga quam nisi, id ipsam earum dolore minima?
						</div>
						<div class="column">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ex laudantium, nisi quasi incidunt sapiente, corporis deleniti distinctio nulla unde deserunt recusandae nobis ut. Expedita error sequi beatae atque cum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="ui vertical buttons">
				
			</div>
			<div class="ui facebook button">
				<i class="facebook icon"></i>
				FACEBOOK
			</div>
			<br>
			<div class="ui twitter button">
				<i class="twitter icon"></i>
				TWITTER
			</div>
			<br><br>
			<div class="ui google plus button">
				<i class="google plus icon"></i>
				GOOGLE PLUS
			</div>
		</div>
	</div>