<div>
	<h1>
		Queremos pizza! 
	</h1>
	<p>
		Sistema para el manejo de tu super pizzeria!
	</p>
	<p>
		vamos a hacer algo increible!!
	</p>
	<a href="/login">Iniciar</a>
</div>
{{#section 'jquery'}}
	<script>
		$(document).ready(function(){
	
		})
	</script>
{{/section}}