<div>
	<h1>
		Queremos pizza!
	</h1>
	<p>
		Sistema para el manejo de tu super pizzeria!
	</p>
	<p>
		vamos a hacer algo increible!!
	</p>
	<a href="/login">Iniciar</a>
	<hr>
	<p>Idioma
		<a href="/set-lenguage/ES" class="lenguage {{lenguageES}}">Español</a>
		<a href="/set-lenguage/EN" class="lenguage {{lenguageEN}}">English</a>
	</p>
</div>
{{#section 'jquery'}}
	<script>
		$(document).ready(function(){

		})
	</script>
{{/section}}
