<div>
	<h1>
		Ninnos pizza! 
	</h1>
	<p>
		Sistema para el manejo de tu super pizzeria!
	</p>
	<p>
		vamos a hacer algo increible!!
	</p>
	<button id="btnIniciarSecion">Iniciar secion</button>
	<a href="/login">Iniciar</a>
</div>
{{#section 'jquery'}}
	<script>
		$(document).ready(function(){
			$('#btnIniciarSecion').on('click', function(e){
				e.preventDefault();
				console.log('you click the button');
			});
		})
	</script>
{{/section}}