<form id="formCreateAcc" class="" action="/createAcc" method="post">
	<h2>Crea una cuenta</h2>
	<div class="nameBox">
		<label for="nameField">Nombre:</label>
		<input type="text" id="nameField" name="name" placeholder="Escribe tu nombre" required>
	</div>
	<div class="lastBox">
		<label for="lastField">Apellido:</label>
		<input type="text" id="lastField" name="last" placeholder="Escribe tu apellido" required>
	</div>
	<div class="emailBox">
		<label for="emailField">Email:</label>
		<input type="email" id="emailField" name="email" placeholder="Escribe tu email" required>
	</div>
	<button type="submit" id="btnCreateAcc">Crear</button>
</form>
<div>
	<div>
		<div>
			<div>
				<form role="form" action="/login" method="POST" name="logginForm">
					<h2>
						Login manual
					</h2>
					<div >
						<label for="fieldEmail">Correo electronio</label>
						<input type="email" id="fieldEmail" name="email" placeholder="Escribe tu correo electronico">
					</div>
					<div>
						<label for="fieldPassword">Escribe una contrasena</label>
						<input type="password" id="fieldPassword" name="password" placeholder="Escribe tu contrasena">
					</div>
					<div>
						<button type="submit">Entrar</button>
					</div>
				</form>
			</div>
			<div>
				<h2>
					Login Social
				</h2>
				<div>
					<a>
						<i></i> Sign in with Google Plus
					</a>
				</div>
				<div>
					<a>
						<i></i> Sign in with Twitter
					</a>
				</div>
				<div>
					<a>
						<i></i> Sign in with facebook
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{!Test: XHR post}}
{{! {{#section 'jquery'}}
{{! <script type="text/javascript">
	$('document').ready(function(){
		var url = '/createAcc';
		data = {name:'sergio', email:'ejemplo'};
		$('#btnCreateAcc').on('click',function(evt){
			evt.preventDefault();
			$.ajax({
				type:'POST',
				url: url,
				data: data,
				success: function(result){
					console.log(result);
				}
			})
		});
	});
</script> }}
{{! {{/section}}
