<div>
	<div>
		<div>
			<div> 
				<form name="logginForm" role="form">
					<h2>
						Loggin manual
					</h2>
					<div >
						<label for="inputmail">Correo electronio</label>
						<input type="email" id="inputmail" placeholder="Escribe tu correo electronico">
					</div>
					<div>
						<label for="inputpassword">Escribe una contrasena</label>
						<input type="password" id="inputpassword" placeholder="Escribe tu contrasena">
					</div>
					<div>
						<a href="/dashboard">Entrar</a>
						<button type="submit">Entrar</button>
					</div>
				</form>
				</div>
			<div>
				<h2>
					Loggin Social
				</h2>
				<div>
					<a>
						<i></i> Sign in with Google Plus
					</a>
				</div>
				<br>
				<div>
					<a>
						<i></i> Sign in with Twitter
					</a>
				</div>
				<div>
					<a>
						<i></i> Sign in with facebook
					</a>
				</div>
			</div>
		</div>
	</div>
</div>